@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: hsl(75, 94%, 57%);
  --secondary-color: hsl(0, 0%, 100%);
  --tertiary-color: #333333;
  --quaternary-color: #1f1f1f;
  --quinary-color: #141414;

  --fs-preset-1: 14px;
  
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--quinary-color);
}

.profile-card {
  width: 384px;
  height: 611px;
  background-color: var(--quaternary-color);
  border-radius: 15px;
  color: var(--secondary-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-card__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-card__info {
  text-align: center;
}

.profile-card__name {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.profile-card__location {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-semibold);
  color: var(--primary-color);
  margin-bottom: 25px;
}

.profile-card__bio {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-regular);
}

.profile-card__socials {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.profile-card__social-link {
  width: 304px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 11px;
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-semibold);
}

.profile-card__social-link:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}


